---
layout: default
---

<article>

	<header id="byline">
		<h1> {{ page.title }} </h1>
		
		{% capture day %}{{ page.date | date: "%e" }}{%endcapture %}
		{% case day %}
			{% when ' 1' %}{% assign format = "%B %est, %Y" %}
			{% when ' 2' %}{% assign format = "%B %end, %Y" %}
			{% else %}{% assign format = "%B %eth, %Y" %}
		{% endcase %}
		
		<section class="byline">
			By <address>
				{% if page.authors != nil %}{{ page.authors | array_to_sentence_string }}{% else %}
				<a href="http://sevengoslings.net">Morten Fangel</a>{% endif %}</address>.
			
			<time datetime="{{ page.date | date: "%Y-%m-%d" }}">
				{{ page.date | date: format }}</time>. 
		</section>
		
		{% if page.abstract != nil %}
		 	<section class="abstract">
				<strong>Abstract</strong>: {{ page.abstract }}
			</section>
		{% endif %}
	</header>

	<section class="body">
		{{ content }}
	</section>
	
</article>